.meet-our-team .team-image img{
    width:100%;
    height:400px;
    object-fit: cover;
    object-position: top;
}

/*.team-name-designation {
    position: absolute;
    bottom: 40px;
       border-radius: 0px 50px 50px 0px;
}
.hip-team-box__layer.hip-team-box__back {
    padding-right: 14px;
}
*/


.team-full-bio {
    padding-top: 10px;
}

.hip-team-box__layer.hip-team-box__back {
    padding-bottom: 20px;
}
.hip-team-wrapper .with-picture-and-bio-layout .hip-team-box__layer.hip-team-box__back .hip-team-bio_box__layer{
    transition: none;
    height: 148px;
}
.hip-team-wrapper .with-picture-and-bio-layout .hip-team-box__layer.hip-team-box__back .hip-team-bio_box__layer p{
    margin: 0px;
}
.hip-team-box__layer.hip-team-box__back{
    padding-right: 10px;
}
.hip-team-wrapper .with-picture-and-bio-layout .hip-team-member-box:hover .hip-team-box__layer.hip-team-box__back .hip-team-bio_box__layer{
   height: 148px;
}
.hip-team-wrapper .hip-team-member-box:hover .team-hover-image.bottom-image {
    opacity: 0;
}
.hip-team-wrapper .hip-team-member-box:hover .team-image .team-hover-image.bottom-image + .feature-image.top-image {
    opacity: 1;
}

.hip-team-wrapper .hip-team-box__front:hover .team-hover-image.bottom-image {
    opacity: 1;
}
.hip-team-wrapper .hip-team-member-box:hover .team-hover-image.bottom-image + .feature-image.top-image {
    opacity: 0;
}
.hip-team-wrapper .hip-team-box__front:hover .team-hover-image.bottom-image + .feature-image.top-image{
    opacity: 0;
}
